<form  class="form" action="">
    <p>
        <mat-form-field>
            <mat-label>Codigo SFF</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Codigo SFF</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
  <br>
    <div class="buttons">
      <button mat-icon-button style="color:white;background:#5F6A6A" onclick="location.href=''">
          <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button style="color:white;background:#5F6A6A">
          <mat-icon>keyboard_return</mat-icon>
      </button>
      <button mat-icon-button style="color:white;background:#5F6A6A" (click)="openDialog2()">
        <mat-icon>done</mat-icon>
      </button>
  </div>  