<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  
  <title>Relación Transacciones Depósitos</title>
  <link rel="stylesheet" type="text/css" href="">
  <meta name="viewport"
    content="width-device-width, user-scalable-no, initial-scale-1.0, maximum-scale-1.0,minimum-scale-1.0">

</head>

<body>
  <div class="contenedor">
    <mat-card id="arriba">BANCO DE PRUEBA BYTE</mat-card>
    <div>
      <h5 id="Titulo">COPIA DE PARAMETRIZACION</h5>
    </div>

    <div class="DivInput">
  
      
        
              <h4>Tipo de Producto </h4>
            <br>
        <input id="Check1">
        <mat-form-field appearance="outline" class="InputR" >
            <select matNativeControl required>
                <option value="volvo">tipo Producto1</option>
                <option value="saab">tipo Producto2</option>
                <option value="saab">tipo Producto3</option>
                <option value="saab">tipo Producto4</option>
              </select>
              <mat-icon  matSuffix>search</mat-icon>
              </mat-form-field>
         
          <h4>Producto </h4>
         
            <input id="Check1">
            <mat-form-field appearance="outline" class="InputR" >
                <select matNativeControl required>
                    <option value="volvo">tipo Producto1</option>
                    <option value="saab">tipo Producto2</option>
                    <option value="saab">tipo Producto3</option>
                    <option value="saab">tipo Producto4</option>
                  </select>
                  <mat-icon  matSuffix>search</mat-icon>
                  </mat-form-field>
          
          <h4>A Empresa</h4>
          
            <input id="Check1">
        <mat-form-field appearance="outline" class="InputR" >
          <select matNativeControl required>
              <option value="volvo">tipo Producto1</option>
              <option value="saab">tipo Producto2</option>
              <option value="saab">tipo Producto3</option>
              <option value="saab">tipo Producto4</option>
            </select>
            <mat-icon  matSuffix>search</mat-icon>
            </mat-form-field>
         
          
          
            
      <div class="CopiaDatos">
          <h4>Copia de Datos</h4>
        
        <h4>Datos De Producto</h4>
        
        <div class="Datos">
          <input class="InputA">
          <h4 id="Si">(Si/No)</h4>
        </div>

          <h4>Prioridad De Cobros</h4>
        
          <div class="Datos">
              <input class="InputA">
              <h4 id="Si">(Si/No)</h4>
            </div>
          <h4>Deducciones</h4>
        
          <div class="Datos">
              <input class="InputA">
              <h4 id="Si">(Si/No)</h4>
            </div>
          <h4>Secuencia Apertura</h4>
        
          <div class="Datos">
              <input class="InputA">
              <h4 id="Si">(Si/No)</h4>
            </div>
          <h4>Cobros Adicionales</h4>
        
          <div class="Datos">
              <input class="InputA">
              <h4 id="Si">(Si/No)</h4>
            </div>
          <h4>Consulta Genral</h4>
        
          <div class="Datos">
              <input class="InputA">
              <h4 id="Si">(Si/No)</h4>
            </div>
        
            
            
          
        

      </div>
      </div>
    
      <hr>
    <div id="iconos2">
        
      <button mat-icon-button style=" background: #5F6A6A" >
        <mat-icon id="back">arrow_back</mat-icon>
      </button>
      <button mat-icon-button style=" background: #5F6A6A"  routerLink="home">
        <mat-icon id="door">meeting_room</mat-icon>
      </button >
      <button mat-icon-button style=" background: #5F6A6A" >
        <mat-icon id="arrow_left">subdirectory_arrow_left</mat-icon>
      </button>
      <button mat-icon-button style=" background: #5F6A6A" >
        <mat-icon id="add" title="Registrar">web_asset</mat-icon>
      </button>
      <button mat-icon-button style=" background: #5F6A6A" >
        <mat-icon id="table2">check</mat-icon>
      </button>
      <button mat-icon-button style=" background: #5F6A6A" >
        <mat-icon id="table2">help</mat-icon>
      </button>
      <button mat-icon-button style=" background: #5F6A6A"  (click)="openDialog()" >
        <mat-icon id="table2">arrow_right</mat-icon>
      </button>


    </div>

 

  </div>

</body>

</html>