<form>
        <br>
        <br>
        <br>
      <h4>Codigo </h4>
      <mat-form-field >
        <input matInput placeholder="Codigo Canal">
      </mat-form-field>
      
      <br>
      <br>
  
  
      <h4>Descripcion</h4>
      <mat-form-field >
        <input matInput placeholder="Descripcion Canales">
      </mat-form-field>
      <br>
      <br>
  
      
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Agregar</button>
  <br>
  <div id="iconos3">
  
      <button mat-icon-button>
        <mat-icon id="back">arrow_back</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon id="door">meeting_room</mat-icon>
      </button >
      <button mat-icon-button>
        <mat-icon id="arrow_left">subdirectory_arrow_left</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon id="add" title="Registrar">check</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon id="table2">help</mat-icon>
      </button>
      
  
  
    </div>
  </form>
  
  
  