<section id="banner">
    <div class="inner">
        <h1><span>Sistema de Configuración Empresarial Financiero <br /></span></h1>
    </div>
</section>
<section id="one">
    <div class="inner">
        <header>
            <h2>Sobre nosotros</h2>
        </header>
        <p>Byte se especializa en el desarrollo y comercialización de aplicaciones de software de alta calidad, ofreciendo poderosas soluciones para las diversas necesidades de las industrias de telecomunicaciones, servicios financieros y medios de pago. Byte provee soluciones a importantes organizaciones distribuidas en más de 15 países y cuenta con oficinas propias en Guatemala, El Salvador, Honduras, Colombia, Perú y República Dominicana..</p>
    </div>
</section>
 