<mat-card class="centro">
    <mat-card-title> Cambios</mat-card-title>
  </mat-card>
  <form>    
      <h4>Codigo</h4>
      <mat-form-field >
        <input matInput placeholder="Codigo" [(ngModel)]="data.codigo"
        [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <h4>Descripcion</h4>
      <mat-form-field >
        <input matInput placeholder="Descripcion categoria" [(ngModel)]="data.descripcion"
        [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <br>
    </form>
      
  <button mat-button [mat-dialog-close]="">Cancelar</button>
  <button type="submit" mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>