<h1 id="Titulo">Mantenimiento A Autorizaciones Por Tipo de Producto</h1>
        
  <mat-form-field>
    <input class="inputAgregar" readonly matInput placeholder="Usuario">
  </mat-form-field><br>
  <mat-form-field>
    <input class="inputAgregar" readonly matInput placeholder="Categoria">
  </mat-form-field><br>
  <mat-form-field>
    <input class="inputAgregar" readonly matInput placeholder="Agencia">
  </mat-form-field>
  <br>
  <br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="descripcionProducto">
        <th mat-header-cell *matHeaderCellDef> Descripcion de Producto </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcionProducto}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
     <br>
     <br>
    <div class="buttons">
        <button mat-icon-button style="color:white; background: #5F6A6A " class="a" (click)="onNoClick()">
          <mat-icon>keyboard_return</mat-icon>
        </button>
        <button mat-icon-button style="color:white; background: #5F6A6A " class="a"  (click)="openDialogV()">
            <mat-icon>note_add</mat-icon>
        </button>
        <button mat-icon-button style="color:white; background: #5F6A6A " class="a" (click)="openDialogEliminar()">
            <mat-icon>delete_sweep</mat-icon>
        </button>
    </div>
  
  
  