<mat-card class="centro">
  <mat-card-title>Nuevo</mat-card-title>
</mat-card>
<br>
<form>
  <div mat-dialog-content>  
    <mat-form-field>
        <input matInput placeholder="Codigo categoria" [(ngModel)]="data.codigo" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Descripcion categoria" [(ngModel)]="data.descripcion" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button type="submit" mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
  </div>
</form>
