<mat-toolbar color="primary" class="encabezado">Agregar Contenido Contable</mat-toolbar>
<form class="example-form">
  <div mat-dialog-content>
    <mat-form-field>
        <input class="inputAgregar" matInput placeholder="Codigo de Contenido">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input class="inputAgregar" matInput placeholder="Descripcion de Campo">
    </mat-form-field>
    <br>
    <mat-form-field>
            <input class="inputAgregar" matInput placeholder="Campo a contabilizar">
        </mat-form-field>
  </div>
</form>
<hr>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="onNoClick()">Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="data.estatus" cdkFocusInitial>Agregar</button>
  </div>