
      <form  class="form" action="">
            <p>
                      <label>Altas</label>
                  </p>
                  <p>
                        <mat-form-field appearance="legacy">
                                <mat-label>Codigo Institucion</mat-label>
                                <input matInput placeholder="Codigo">
                              </mat-form-field>
                        <mat-form-field appearance="legacy">
                          <mat-label>Nombre</mat-label>
                          <input matInput placeholder="Nombre">
                        </mat-form-field>
                      </p>
                  <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>Direccion</mat-label>
                      <input matInput placeholder="Direccion">
                    </mat-form-field>
                  </p>
                  <p>
                        <mat-form-field appearance="legacy">
                                <mat-label>Telefono</mat-label>
                                <input matInput placeholder="Telefono">
                              </mat-form-field>
                        <mat-form-field appearance="legacy">
                          <mat-label>Codigo Postal</mat-label>
                          <input matInput placeholder="Codigo Postal">
                        </mat-form-field>
                      </p>
                  <br>
                  <p>
                        <mat-form-field appearance="legacy">
                          <mat-label>Forma de pago</mat-label>
                          <input matInput placeholder="Forma">
                        </mat-form-field>
                        <mat-form-field appearance="legacy">
                                <mat-label>Cuenta Deposito</mat-label>
                                <input matInput placeholder="Cuenta">
                              </mat-form-field>
                      </p>
                      <p>
                            <mat-form-field appearance="legacy">
                              <mat-label>Dias de gracia para descontar de cuenta reserva</mat-label>
                              <input matInput placeholder="Dias">
                            </mat-form-field>
                          </p>
                  <br>
                <div class="example-button-row">
                  <button mat-raised-button color="primary">Regresar</button>
                  <button mat-raised-button color="primary">Salir</button>
                  <button mat-raised-button color="primary">Listar</button>
                  <button mat-raised-button color="primary">Ayuda</button>
                </div>
                 </form>
                  