
      <form  class="form" action="">
            <p>
                    
                      <label>Altas</label>
                    
                  </p>
                  <p>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="ID">
                        </mat-form-field>
                    <mat-form-field appearance="legacy">
                      <mat-label>Descripcion</mat-label>
                      <input matInput placeholder="">
                    </mat-form-field>
                  </p>
                  <div class="">
                      <mat-icon>done_outline</mat-icon>
                      <mat-icon>build</mat-icon>
                      <mat-icon>delete</mat-icon>
                      <mat-icon>aspect_ratio</mat-icon>
                  </div>
                  <br>
                <div class="example-button-row">
                  <button mat-raised-button color="primary">Regresar</button>
                  <button mat-raised-button color="primary">Salir</button>
                  <button mat-raised-button color="primary">Listar</button>
                  <button mat-raised-button color="primary">Ayuda</button>
                </div>
                 </form>
                  