<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
      <mat-icon>vpn_lock</mat-icon>
    <span>Byte</span>   
  </mat-toolbar-row>
</mat-toolbar> -->

<br>

<mat-card class="centro"><mat-card-title>Datos Generales</mat-card-title></mat-card>
<br>
<br>
<table class="centro">
  
        <p class="P">Numero automatico de Generacion</p> <button  mat-raised-button (click)="openDialog()"><mat-icon>assessment</mat-icon></button>
        <br>
        <br>
        <p class="P">Fechas del Sistema (Control de Sabados y domingos)</p> <button  mat-raised-button (click)="openDialog2()"><mat-icon>assignment</mat-icon></button>
        <br>
        <br>
        <p class="P">Provicion (Devengado)</p> <button  mat-raised-button (click)="openDialog3()"><mat-icon>assignment_ind</mat-icon></button>
        <br>
        <br>
        <p class="P">Configuracion del Sistema</p> <button  mat-raised-button (click)="openDialog4()"><mat-icon>desktop_windows</mat-icon></button>
        <br>
</table > 
