/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/DeepPurple-Amber.css";

body {
  font-family: Arial;
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

button{
    font-family: Arial;
    font-weight: normal;
}

table{
  width: 80%;
  margin: 0 auto;
}

mat-paginator{
  width: 80%;
  margin: 0 auto;
}

mat-toolbar{
  text-align: center
}

mat-card{
  text-align: center
}