
      <form  class="form" action="">
            <p>
                      <label>Altas</label>
                  </p>
                  <p>
                        <mat-form-field appearance="legacy">
                          <mat-label>MODULO</mat-label>
                          <input matInput placeholder="Modulo">
                        </mat-form-field>
                      </p>
                  <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>Codigo Motivo</mat-label>
                      <input matInput placeholder="Codigo Motivo">
                    </mat-form-field>
                  </p>
                  <p>
                        <mat-form-field appearance="legacy">
                          <mat-label>Descripcion</mat-label>
                          <input matInput placeholder="Descripcion">
                        </mat-form-field>
                      </p>
                  <br>
                <div class="example-button-row">
                  <button mat-raised-button color="primary">Regresar</button>
                  <button mat-raised-button color="primary">Salir</button>
                  <button mat-raised-button color="primary">Listar</button>
                  <button mat-raised-button color="primary">Ayuda</button>
                </div>
                 </form>
                  